<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Play Tic Tac Toe !</h1>
<br><br>
<div class="container">
    <p>Player : <span th:text="${player}"></span></p>
    <table class="table">
        <tbody>
        <tr>
            <td th:switch="${grid[0][0]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton" value="LEFT_TOP"></button>
                    </form>
                </div>
            </td>
            <td th:switch="${grid[0][1]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton" value="MIDDLE_TOP"></button>
                    </form>
                </div>
            </td>
            <td th:switch="${grid[0][2]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton" value="RIGHT_TOP"></button>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td th:switch="${grid[1][0]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton"
                                value="LEFT_MIDDLE"></button>
                    </form>
                </div>
            </td>
            <td th:switch="${grid[1][1]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton"
                                value="MIDDLE_MIDDLE"></button>
                    </form>
                </div>
            </td>
            <td th:switch="${grid[1][2]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton"
                                value="RIGHT_MIDDLE"></button>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td th:switch="${grid[2][0]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton"
                                value="LEFT_BOTTOM"></button>
                    </form>
                </div>
            </td>
            <td th:switch="${grid[2][1]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton"
                                value="MIDDLE_BOTTOM"></button>
                    </form>
                </div>
            </td>
            <td th:switch="${grid[2][2]}">
                <span th:case="'x'"><div class="letter x-letter"></div></span>
                <span th:case="'o'"><div class="letter o-letter"></div></span>
                <div th:case="*" class="add-letter-div">
                    <form class="add-letter-div" action="#" th:action="@{/play}" th:object="${cellInformation}"
                          method="get">
                        <button class="add-letter-button" type="submit" name="submitButton"
                                value="RIGHT_BOTTOM"></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <p th:if="${gameEnd}">Player <span th:text="${player} == 0 ? '0' : '1'"></span> has won !</p>
    <p th:if="${nobodyWin}">Game ended, nobody won</p>
    <form class="add-letter-div" action="#" th:action="@{/reset}" method="get">
        <button class="btn btn-primary" type="submit">Reset</button>
    </form>
</div>
</body>
</html>
